nav
{
  background-color: greenyellow;
  text-align: center;
  color: black;
  font-size: 32px;
  height: 50px;
  margin: 0px;
  left: 0px;
  right: 0px;
}
a /*back*/
{
  float: left;
  position: fixed;
  top: 7px;
  left: 7px;
  color: Black;
}
.back:hover {background-color: lightblue;}
.back-button:active {background-color: inherit;}
body
{
  font-size: 12px;
  background-color: black;
  margin: 0px;
}
span /*titlebox*/
{
  position: fixed;
  left: 70px;
  top: 5px;
}
fieldset /*Info boundary*/
{
  background-color: greenyellow;
  color: black;
  position: fixed;
  top: 60px;
  left: 10px;
  right: 10px;
  border: 2px solid teal;
}
table
{
  width: 100%;

}
tbody
{
  background-color: white;
  font-family: Georgia;
  font-size: 22px;
  text-align: center;;
  margin: 0px;
}
.sport
{
  display: block;
}
.time
{
  display: block;
}
.location
{
  display: block;
}
.numberattending
{
  display: block;
}
.Commit
{
  display: inline-block;
  float: left;
  position: fixed;
  left: 90px;
  border: 4px solid greenyellow;
}
.Commit:hover {background-color: lightblue;}
.Decline
{
  display: inline-block;
  float: left;
  position: fixed;
  left: 210px;
  border: 4px solid greenyellow;
}
.Decline:hover {background-color: lightblue;}
.blocks
{
  width: 100%;
}
input[type="submit"]
{
  -webkit-appearance: button;
  cursor: pointer;
  border: 3px solid inherit;
  background-color: beige;
  color: Black;
  : center;
}
