
nav
	{
		font-size:35px;
		color: solid black;
		font-family: Cambria;
		text-align: center;
	}
body 
	{
		background-color: lightblue;
	}
tr:hover 
	{
		background-color: #7BD4E8;
	}
table
	{
		width:100%;
		height:100%;
		padding: 2px;
		border-collapse: 10px;

}
table,td,td {border:thick solid black;}
tbody 
	{
		background-color: beige;
		font-family: Cambria;
		font-size: 22px;
		text-align: center;
	}
tr 
	{
	height: 50px;
	}
